<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/toDoController.js"></script>
  <meta charset="UTF-8">
  <title>toDo Lister</title>
</head>

<body ng-controller="toDoController">

<form name="frm">
  <input type="text" ng-model="newTask" required>
  <button id="new_task" ng-disabled="frm.$invalid" ng-click="add()">Add item</button>
</form>

  <div >
    <ul>
      <li ng-repeat="taskItem in allTasks">
        <input id="completed" type="checkbox" ng-change="setChecked($index)" ng-model="done">
        <input type="text" ng-model="taskItem.task">
        <input type="submit" ng-click="removeTask($index)">
      </li>
    </ul>
  <div>

</body>

</html>
